@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --background-dark_bule: #036B8D;
  --background-light_bule: #02B2DE;
  --buttonback: #F5F5F5; /* bakgrunnsfarge for vanlig modus */
  --buttonback-2: #02B2DE; /* bakgrunnsfarge for knapp 2 */
  --foreground: #414141; 
 
  --color-text: #FFFFFF;
  --color-text-2: #414141;
  --color-text-3: #02B2DE;
  --color-text-button-2: #02B2DE;

  --color-border_button_1: #02B2DE;
  --color-border_button_2: #F5F5F5;

  --color-hover-bg-button-1: #f5f5f5;
  --color-hover-bg-button-2: #02B2DE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
footer {
  background-color: var(--background-light_bule);
  color: var(--color-text);
}

.button-primary {
  background-color: var(--buttonback-2);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif; /* Bruk fontene også her */
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
  border: 3px solid var(--color-border_button_2);
}

.button-primary:hover {
  background-color: var(--color-hover-bg-button-1);
  color: var(--color-border_button_1);
  border: 3px solid var(--color-border_button_1);
}

 .secundary-button{
  background-color: var(--buttonback);
  color: var(--color-text-button-2);
  font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
  border: 3px solid var(--color-border_button_1);
  border-radius: 0.5rem;
}

.secundary-button:hover {
  background-color: var(--color-hover-bg-button-2);
  color: var(--color-text);
  border: 3px solid var(--color-border_button_2);
}
.desktop-menu {
  background-color: var(--background);
  color: var(--color-text-3);
}

.mobile-menu {
  background-color: var(--background-light_bule);
  color: var(--color-text);
}
.mobile-menu-burger {
  background-color: var(--background);
  color: var(--color-text-3);
}